@tailwind base;
@tailwind components;
@tailwind utilities;

.classbutton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.classbuttonadded {
    display: flex;
    color: white;
    background-color: #1aacef;
    justify-content: center;
    padding-top: 10px;
    border-radius: 5px;
    min-width: 50px;
    margin-left: 10px;
    margin-right: 5px;
    vertical-align: middle;
}

.classbuttonadded:hover {
    background-color: #51bae8;
}

.contentbuttonskill {
    display: flex;
    justify-content: center;

}

.listSkill {
    width: auto;
    height: auto;
    line-height: 1;
    padding: 5px;
    background-color: #1aacef;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    margin: 5px;;
}

.iconDelete {
    color: #0d80ad;
}

.iconDelete:hover {
    color: #148fbc;
}

.skilltext {
    margin-right: 8px;
    color: #fff;
}

.classbuttonskill {
    color: white;
    background-color: #1aacef;
    height: 33px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: auto;
    border-radius: 15px;
    padding-left: 10px;
    text-align: center;
    padding-right: 10px;
    padding-top: 2px;
}

.tab {
    cursor: pointer;
}

.contentbuttonsuggestions {
 justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
}

.contentbuttonsuggestionsitem {
    justify-content: center;
    margin-top: 50px;
    background-color: #1aacef;
    height: 40px;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    color: white;
    margin-left: 25%;
    padding-top: 10px;
}

.general {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.classbuttonclosed {
    display: flex;
    color: white;
    background-color: #f40c0c;
    justify-content: center;
    padding: 2px;
    border-radius: 5px;
    min-width: 50px;
    margin-left: 10px;
    margin-right: 5px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center; 
}
  
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    justify-content: center;
    display: flex;
}

.input-with-padding {
    padding: 10px;
}

.contentTabs {
    display: flex;
    justify-content: flex-end;
}
.generalContent {
    display: flex;
    justify-content: flex-end;
}

.contentSkills {
    background-color:  #f2f2f2;
    margin: 4px;
    width: 50%;
    height: 500px;
}

.contentSkills ul li {
    list-style-type: none;
}

.contentSuggestions {
    background-color:  #f2f2f2;
    margin: 4px;
    width: 50%;
    height: 500px;
}

.skills {
    margin: 4px;
}
.suggestions{
    margin: 4px;
}

.linear {
    background-color: #f6f6f6;
    height: 50px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: white;
    font-size: 24px;
}

.navbar {
    display: flex;
}